<!DOCTYPE html>
<html onselectstart="return false " >
    <head>

	   <meta charset='utf-8'>
	

       <title>cjkkkkk</title>
       <meta name='keyword' content='cjk'>
       <meta name='description' content='sdf'>
  
<style type="text/css">




</style>





    </head>
<body>

<form > 

  <input type='file' name='file'>
    <input type='submite' value='上传'>

</form>


      



		
	   
   <script>

   //window.load  dom 树 只有一个

   //$ (document).ready(function(){alert(1)   })

   //jq本质  作用 节点 改变节点 操作 元素 控制 添加 特效 不需要改变结构 


  // $ (document).ready(function(){
   //$('p').click(function(){$(this).hide();

// jq 对象 dom 对象 选择器 根基  简洁 完善的事件处理  最简单 最常用 

    //});


   // });

//获取高度 改变  传递函数 获取边距 

$(function(){
  alert($('#sd').width());


})


        </script>

        <div id='sd'>  </div>

</body>
</html>